<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy-Connect</title>
</head>

<style>

    body {
    font-family: "Times New Roman", Times, serif;
    background-color: yellowgreen;
}
.button1 {background-color: #4CAF50;}

</style>

<body>
 
<!-- choose function display .. -->
        <form action="/" method="get">
            <input type="checkbox">Show Inventory<br>
            <input type="checkbox">Version<br>
            <input type="checkbox">Environment<br>
            <input type="checkbox">Process CPU Sort<br>
            <input type="checkbox">Process Memory<br>
            <input type="checkbox">Clock<br>
            <input type="checkbox">Logging<br>
            <input type="checkbox">File System<br>
            <input type="checkbox">Cdb Neighbors<br>
            <input type="checkbox">VLan<br>

            <input type="submit" class="button1" value="Submit">
        </form>


</body>

</html>