<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy-Connect</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/index/style.css'%}" type="text/css">




</style>

</head>



<body>
    <center>
        <form action="/" method="get">
            <h1>Login</h1>


            <!-- input user/admin -->
            <input type="text" placeholder={{ user }} /></br></br>
            <input type="text" placeholder={{ password }} />
            </br>
            </br>
            <input  type="submit" id="ok" class="btn btn-primary " value="Submit">
        </form>


    </center>
</body>

</html>