<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy-Connect</title>
</head>

<style>

    body {
    background-color: lightblue;
}
.button1 {background-color: #4CAF50;}

</style>

<body>
    <center>

        <form action="/" method="get">
            <h1>Login</h1>


            <!-- input user/admin -->
            <input type="text" placeholder={{ user }} /></br></br>
            <input type="text" placeholder={{ password }} />
            </br>
            </br>
            <input type="submit" class="button1" value="Submit">
        </form>


    </center>
</body>

</html>